@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Delius&family=Fuzzy+Bubbles:wght@400;700&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

@font-face {
  font-family: "tommy-light";
  src: url(fonts/tommy-light.otf);
}

@font-face {
  font-family: "tommy-regular";
  src: url(fonts/tommy-regular.otf);
}

:root{
  --font1: "tommy-light", sans;
  --font2: "tommy-regular", sans;
}

*{
  padding: 0;
  margin: 0;
  font-family: var(--font1);
}

p, a, h1, h2, h5, span{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.info-flex{
  justify-self: center;
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.info-flex img{
  margin-top: 20px;
}

#myVideo {
  filter: blur(5px);
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.conteudo-total {
  position: relative;
}

a{
  text-decoration: none;
}

.logo-top{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.logo-top video{
  margin: 0;
  width: 250px;
  height: 250px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
}

.store-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10PX;
  color: white;
  text-shadow: 0px 0px 5px black;
}

.store-info h1{
  font-size: 3em;
  font-family: var(--font2);
}

.store-info h2{
  font-size: 1em;
  margin-top: 10px;
}

.social-medias{
  margin-top: 20px;
  display: flex;
  justify-content: center;;
}

.social-medias img{
  margin: 5px;
  width: 45px;
  transition: all 0.2s ease-in-out;
}

.social-medias img:hover{
  scale: 1.07;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#cat span, #chat span{
  font-family: var(--font1);
}

.custom-button{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
  font-size: 22px;
  padding: 10px;
  margin-top: 20px;
  width: 60vw;
  max-width: 600px;
  min-width: 450px;
  height: auto;
  background-color: rgb(224, 215, 204);
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  font-weight: bolder;
  color: #292015;
  box-shadow: 3px 3px 0px #634e33;
  border: 2px solid #634e33;
}

#uber svg{
  width: 30px;
  margin-bottom: -9px;
}

#cat svg{
  width: 30px;
  margin-bottom: -3px;
}

#chat svg{
  width: 30px;
  margin-bottom: -7px;
}

#avalie svg{
  width: 30px;
  margin-bottom: -8px;
}

.map-info{
  display: flex;
  flex-direction: row;
}

.custom-button:hover{
  scale: 1.02;
}

#map-box{
  overflow: hidden;
}

.map-img-container{
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

#map-box img{
  width: 100%;
  border-radius: 10px;
}

#map-box h5{
  font-size: 25px;
  margin-top: 30px;
  text-align: left;
}

#map-box p{
  font-size: small;
  text-align: left;
  margin-top: 5px;
  margin-right: 105px;
  margin-bottom: 20px;
}

#map-box span{
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  background-color: #4b3b26;
  border: solid 1px #292015;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  color: white;
}

footer{
  text-align: center;
  margin: 25px;
  color: white;
  opacity: 15%;
  text-decoration: none;
}

@media (max-width: 600px){
  #map-box span{
    width: 150px;
    height: 30px;
    font-size: 20px;
    margin-left: 40px;
  }

  #map-box p{
    font-size: 15px;
    margin-right: 10px;
  }

  #cat span, #chat span, #uber span, #avalie span{
    font-size: 0.8em;
  }

  #whatsappButton{
    font-size: 1.2em;
  }

  #uber svg{
    width: 25px;
    margin-bottom: -7px;
  }

  #cat svg{
    width: 25px;
    margin-bottom: -4px;
}

  #whatsappButton svg{
    width: 20px;
    margin-bottom: -6px;
  }

  #avalie svg{
  width: 25px;
  margin-bottom: -5px;
}

  footer{
    font-size: 0.7em;
  }
}

.whatsapp-container {
  position: relative;
  width: fit-content;
}

.whatsapp-button {
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
  font-size: 22px;
  padding: 10px;
  margin-top: 20px;
  width: 60vw;
  max-width: 600px;
  min-width: 450px;
  height: auto;
  background-color: rgb(224, 215, 204);
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  font-weight: bolder;
  color: #292015;
  box-shadow: 5px 5px 0px #634e33;
  border: 2px solid #634e33;
}

.whatsapp-button:hover {
  transform: scale(1.03);
}

.whatsapp-form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.4s ease;
  display: flex;
  gap: 3px;
  margin-top: 10px;
}

.whatsapp-form.active {
  max-height: 650px;
  opacity: 1;
}

.whatsapp-form input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  flex: 1;
}

.whatsapp-form input:focus {
  outline: none;
}

.whatsapp-form button {
  background-color: #25d366;
  border: 1px solid #0f5328;
  color: #ffffff;
  height: 40px;
  font-size: 20px;
  font-weight: bolder;
  padding: 4px 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.whatsapp-form button:hover {
  background-color: #1ebc57;
}

#whatsappButton svg{
  width: 30px;
  margin-bottom: -7px;
}    